In [3]:
# integers
x = 'basket'
type(x)

str

In [4]:
# float
x = 3.5
type(x)

float

In [6]:
# boolean
print(bool("hello"))

True

In [7]:
# string
plant = 'tulsi'
type(plant)

str

In [8]:
# complex numbers
l = 3.2+5.0j
type(l)

complex

In [9]:
print(l)

(3.2+5j)

In [10]:
print(l.real, l.imag)

3.2 5.0

In [18]:
twenty= 20
six=6
print(twenty)
six

20

6

In [21]:
two = 2
two

2

In [23]:
apple='apple'
apple

'apple'

In [24]:
'date' +'day'

'dateday'

In [26]:
i = 5
if i < 5:
    print('less than 5')
elif i < 7:
    print('less than 7')
else:
    print('7 or more')

less than 7

In [27]:
q= ['apple', 'ball', 'cat']
print(q)
type(q)

['apple', 'ball', 'cat']

list

In [28]:
list = ['apple',32]
list

['apple', 32]

In [34]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [1, 2, 3, 4, 5,]

# variable to store the sum
sum = 0

# iterate over the list
for i in numbers:
    sum = sum + i

# Output: The sum is 17
print("The sum is", sum)
sum

The sum is 15

15

In [35]:
digits = [12, 14, 20]

for i in digits:
    print(i)
else:
    print("No items left.")

12
14
20
No items left.

In [36]:
# Program to add natural
# numbers upto 
# sum = 1+2+3+...+n

# To take input from the user,
n = int(input("Enter n: "))


# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

Enter n: 6
The sum is 21

In [41]:
print(range(15))

range(0, 15)

In [42]:
for val in "JYOTHI":
    if val == "I":
        break
    print(val)

print("The end")

J
Y
O
T
H
The end

In [45]:
for val in "RADHIKA":
    if val == "I":
        continue
    print(val)

print("The end")

R
A
D
H
K
A
The end

In [46]:
height = input("What is your height?\n ")
type(height)

What is your height?
 5.2

str

In [47]:
age = int(input("What is your age? "))
print ("Your age is: ", age)
type(age)

What is your age? 20
Your age is:  20

int