In [5]:
# Can also mix object types
t = ('three',2)

# Show
t

('three', 2)

In [6]:
# Use indexing just like we did in lists
t[0]

'three'

In [7]:
# Slicing just like a list
t[-1]

2

In [8]:
# Use .index to enter a value and return the index
t.index('three')

0

In [9]:
# Use .count to count the number of times a value appears
t.count('three')

1

In [19]:
# Create a list with repeats
l = [1,2,2,2,3,4,5,6,1,2]

In [20]:
# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6}

In [22]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [23]:
# Call values by their key
my_dict['key2']

'value2'

In [33]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [34]:
#Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [35]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [36]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [37]:
my_dict['key1']

123

In [38]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [39]:
#Check
my_dict['key1']

0

In [40]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

In [41]:
# Create a new dictionary
d = {}

In [42]:
# Create a new key through assignment
d['animal'] = 'horse'

In [43]:
# Can do this with any object
d['answer'] = 90

In [44]:
#Show
d

{'animal': 'horse', 'answer': 42}

In [49]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':'valve'}}}

In [50]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'valve'

In [51]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [52]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [53]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [54]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [55]:
print(list(range(15)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [57]:
{x:x**2 for x in range(8)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [59]:
def say_hello():
    print('hello')

In [60]:
say_hello()

hello

In [61]:
def add_num(num1,num2):
    return num1+num2

In [63]:
add_num(9,5)

14

In [67]:
# Can also save as variable due to return
result = add_num(9,5)

In [68]:
print(result)

14

In [69]:
import math

def is_prime(num):
    '''
    A Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [70]:
is_prime(11)

True

In [75]:
# Generator function for the cube of numbers (power of 3)
def gencubes(n):
    for num in range(n):
        yield num**5

In [76]:
for x in gencubes(4):
    print(x)

0
1
32
243

In [77]:
def genfibon(n):
    '''
    Generate a fibonacci sequence up to n
    '''
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [78]:
for num in genfibon(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [83]:
def fibon(n):
    a = 1
    b = 1
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b,a-b
        
    return output

In [84]:
fibon(7)

[1, 1, 0, 1, -1, 2, -3]

In [86]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [87]:
def simple_gen():
    for x in range(3):
        yield x

In [89]:
# Assign simple_gen 
g = simple_gen()

In [90]:
print(next(g))

0

In [92]:
print(next(g))

1

In [93]:
print(next(g))

2

In [95]:
s = 'goodmorning'

#Iterate over string
for i in s:
    print(i)

g
o
o
d
m
o
r
n
i
n
g

In [98]:
def fahrenheit(T):
    return ((float(3)/5)*T + 32)
def celsius(T):
    return (float(5)/3)*(T-32)
    
temp = [0, 22.5, 40,100]

In [99]:
F_temps = list(map(fahrenheit, temp))

#Show
F_temps

[32.0, 45.5, 56.0, 92.0]

In [100]:
# Convert back
list(map(celsius, F_temps))

[0.0, 22.5, 40.0, 100.0]

In [102]:
list(map(lambda x: (5.0/3)*(x - 32), F_temps))

[0.0, 22.5, 40.0, 100.0]

In [106]:
a = [1,2,3,8]
b = [5,6,7,8]
c = [9,10,1,9]

list(map(lambda x,y:x+y, a,b))

[6, 8, 10, 16]

In [107]:
# Now all three lists
list(map(lambda x,y,z:x+y+z, a,b,c))

[15, 18, 11, 25]

In [108]:
from functools import reduce
lst =[47,11,42,13]
reduce(lambda x,y: x+y,lst)

113

In [109]:
from functools import reduce
lst =[47,11,42,13]
reduce(lambda x,y: x+y,lst)

113

In [110]:
#Find max
print(lst)
reduce(lambda a,b: a if (a > b) else b,lst)

[47, 11, 42, 13]

47